<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","className":".theme-dark","layout":{"contentSize":"330px","type":"constrained","wideSize":"330px"}} -->
<main class="wp-block-query .theme-dark"><!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|60","left":"var:preset|spacing|60","top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}},"border":{"radius":"20px"}},"backgroundColor":"black","layout":{"type":"default"},"hideFromFeed":true} -->
<div class="wp-block-group has-black-background-color has-background" style="border-radius:20px;padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"1","style":{"border":{"radius":"20px","width":"0px","style":"none"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} /-->

<!-- wp:group {"style":{"typography":{"fontSize":"14px"}},"layout":{"type":"flex","orientation":"horizontal"},"hideFromFeed":true} -->
<div class="wp-block-group" style="font-size:14px"><!-- wp:post-date {"format":"j/n/Y","fontSize":"small"} /-->

<!-- wp:post-terms {"term":"category","style":{"color":{"text":"#aeaeae"},"elements":{"link":{"color":{"text":"#aeaeae"}}}},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"showMoreOnNewLine":false,"excerptLength":27,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} /-->

<!-- wp:post-author-name {"isLink":true,"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"small"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"},"hideFromFeed":true} -->
<div class="wp-block-group"><!-- wp:query-pagination -->
<!-- wp:query-pagination-previous {"metadata":{"name":"précédents"},"fontSize":"small"} /-->

<!-- wp:query-pagination-numbers {"midSize":1} /-->

<!-- wp:query-pagination-next {"fontSize":"small"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group --></main>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

<!-- wp:spacer {"height":"129px"} -->
<div style="height:129px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"verticalAlignment":"center"} -->
<div class="wp-block-columns are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center","layout":{"type":"constrained","contentSize":"870px"}} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:seriously-simple-podcasting/playlist-player /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"33px"} -->
<div style="height:33px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->